@charset "utf-8";

@media (min-width:768px) and (max-width:1240px){
        /*헤더*/
        header {width:100%; height:490px; background-image:url("../img/header_background.jpg");
        background-position:center; background-size:cover; display:flex; align-items: flex-end;}

        #header_text {width:90%; height:230px; display: flex; flex-direction: column; align-items: flex-start; }
        #header_text > p {font-size: 110px;  font-weight: bold; letter-spacing: 3px; margin:0; font-family: 'Bebas Neue', sans-serif; color:#fff; text-shadow:4px 4px  #ff5f00 ;}
        #header_text > .p {font-size: 110px; ; font-weight: bold; line-height: 80px; letter-spacing: -1px; color:#ff5f00; margin:0;  font-family: 'Bebas Neue', sans-serif; text-shadow: none;}

        #small_header {width: 90%; height:270px; display:flex; align-items:center; justify-content:flex-start; margin:5% auto;}  
        #small_header > .text {width:36%; height:170px; font-size:20px; letter-spacing:-2px; line-height: 30px; font-weight: bold; } 
        #small_header > .text > h3 {width:95%; margin:0; }
        #small_header > .text > .h3 {color:#ff5f00;  width:100%;}
        #small_header > .photo {width:69%; height:270px;}
        #small_header > .photo > img {width:100%; height:auto; margin-top:10px;}

        
        
        /*슬라이드 뉴스*/
        #slider {width:90%; height:130px; margin:0 auto;}
        #slider > h1 {font-size: 72px; margin:0 auto; font-weight: bold; font-family: 'Bebas Neue', sans-serif; letter-spacing: 2px; padding-top:5px;}
        #content {width:100%; height: 310px; display:flex; flex-wrap: wrap; justify-content: space-around; overflow: hidden; }
        #content > .box {width:30%; height:290px; border:1px solid #eee; border-radius: 10px; overflow: hidden; margin:1.5%;}
        #content > .box > img {width:100%; height:50%;}
        #content > .box:hover{transform:translateY(-10px); transition: 0.5s; box-shadow: 4px 4px 4px #eee;}
        .slider_text {width:90%; height: 50%; display: flex; flex-direction:column; justify-content:space-between;}
        .slider_text > p {font-size:13px; line-height:20px; font-weight: bold; margin-top:20px;} 
        
        .button {margin-bottom:10px; padding:0;}
        .button >button{border:none; border-radius: 20px; padding:3px 7px; font-size: 9px;  background-color: #ff8200; font-family:'Secular One', sans-serif; color:#fff;}
        .button >button:nth-of-type(3){margin:5px 0 0 0px;}
        .button >button:hover {background-color: #ffd500; color:#000;}

        
        .button_box {width:100%; height:50px; margin:20px auto;}
        .more_button {border:none; padding:10px 20px; margin-left:0; border-radius:25px; background-color:#000; color:#fff; font-family:'Secular One', sans-serif; font-weight:bold; font-size:13px;}
        .more_button:hover {background-color: #ff5f00;}
        .slider_button {width:93%; margin-top:40px;}

        /*메인컨텐츠*/
        section {width:100%; height:4200px; display:flex; flex-direction: column; justify-content: space-evenly; }
        
        section > #our_games {width:95%; height:1450px; display:flex; flex-direction: column; justify-content:space-around;}
        h1 {font-size:70px; height:100px;  margin:0; color:#ff5f00; letter-spacing: 2px; font-family: 'Bebas Neue', sans-serif; font-weight: 900;}
        #our_games > .our_games_box {width:100%; height:30%; margin:2%  0%; border-radius: 10px; background-color:#fff;}
        #our_games > .back1 {background-image:url("../img/ourgames1.webp"); background-position:center; background-size:cover;}
        #our_games > .back2 {background-image:linear-gradient(to left, rgba(0, 0, 0, 0.1), rgba(0,0,0,0.5)), url("../img/ourgames2.webp"); background-position:center; background-size:cover;}
        #our_games > .back3 {background-image:url("../img/ourgames3.webp"); background-position:center; background-size:cover; display: flex; flex-direction: row-reverse;}
        .back2 > .left_box {width:40%; height:57%; display:flex; flex-direction:column; align-items:center; justify-content:space-between; margin:35px 15px; }
        .left_box {width:40%; height:55%; display:flex; flex-direction:column; align-items:center; justify-content:space-between; margin:50px 15px;}
        .back1 > .left_box > .small_logo {width:75%; height:auto;}
        .left_box > .small_logo {width:75%; height:auto;}
        .left_box > h3 {font-size:20px; letter-spacing:-2px; color:#fff; font-weight: bold;  margin:0; padding:0;} 
        .left_box > p {letter-spacing:-1px; margin:0px; padding:0; color:#fff; font-weight: bold; text-align: center; font-size:13px; line-height: 20px;}
        .left_box > .icon {width:50px; height:20px; display:flex; margin-top:15px; padding:0;}
        .left_box > .icon > img {width:50px; height:20px;}
        .right_box {width:170px; height:50px; background-color: #ff5f00; transform:skew(-10deg); text-align: center; padding-top:13px;  margin-top:30px;  margin-right:-15px; }
        .right_box > a {font-family: 'Secular One', sans-serif; font-size:14px; color:#fff; text-decoration: none; font-weight: 900; }

        #studios {width:95%; height:430px; display: flex; flex-direction: column; justify-content: space-around;}
        #studios > .content_box {width:100%; height:300px; display: flex; justify-content: space-between;}
        #studios > .content_box > .c_box {width:30%; height:100%; border-radius:10px; margin-left: 0;}
        #studios > .content_box > .c_box:nth-of-type(3) {margin-right: 0;}
        #studios > .content_box > .color1 {background-color: #ffe7c4;}
        #studios > .content_box > .color2 {background-color: #ff4347;}
        #studios > .content_box > .color3 {background-color: #202121;}
        .c_box > .photo {width:80%; height:50%;}
        .c_box > .photo > img {width:100%; height:auto; padding-top:30px;}
        .c_box > .content2_text {width:90%; height:50%; display:flex; flex-direction: column; justify-content: space-evenly; color:#5a1b00; border-top: 1px solid #fff;}
        .color1 > .content2_text { border-top: 1px solid #D35004;}
        .c_box > .content2_text > h3 {font-size: 20px; font-weight: bolder; letter-spacing: -2px; }
        .c_box > .content2_text > p {font-size: 13px; letter-spacing: -2px; font-weight: 900;  line-height: 22px; text-align: center;}
        .color2 > .content2_text {color:#fff;}
        .color3 > .content2_text {color:#fff;}
        .c_box:hover {transform:translateY(-10px); transition: 0.5s; box-shadow:4px 4px 4px #eee;}

        #our_stories {width:95%; height:1000px; display:flex; flex-direction: column; justify-content: space-between;}
        #our_stories > .content3_box {width:100%; height:80%; display: flex; flex-wrap: wrap; justify-content: space-between; align-items: space-between; margin:5% 0%;}
        .content3_box > .c3_box {width:48%; height: 48%; border-radius: 10px; background-position: center; background-size: cover; margin:0; padding:0; display: flex; flex-flow: column wrap; justify-content: flex-end; }
        .c3_box:nth-of-type(3) {margin-top:30px;}
        .c3_box:nth-of-type(4) {margin-top:30px;}
        .b_img1 {background-image:linear-gradient(rgba(0, 0, 0, 0.1), rgba(0,0,0,0.5)), url("../img/ourstories1.webp");
        }
        .b_img2 {background-image:linear-gradient(rgba(0, 0, 0, 0.1), rgba(0,0,0,0.5)), url("../img/ourstories2.webp");
        }
        .b_img3 {background-image:linear-gradient(rgba(0, 0, 0, 0.1), rgba(0,0,0,0.5)), url("../img/ourstories3.webp"); 
        }
        .b_img4 {background-image:linear-gradient(rgba(0, 0, 0, 0.1), rgba(0,0,0,0.5)), url("../img/ourstories4.webp"); 
        }
        .content3_box > .c3_box > p {color:#fff; margin:0 0 0 10px; font-size:13px; font-weight: 900; letter-spacing: -1px;}
        .c3_box > .button {margin:15px 10px;}
        


        #support {width:90%; height:380px; border-top: 1px solid #ccc; display:flex; align-items: center;}
        #support > .c4_box {width:30%; height:80%; display: flex; justify-content: space-around; flex-direction: column;}
        .c4_box > h2 {font-size: 25px; letter-spacing: -1px; font-family: 'Secular One', sans-serif; margin-top:-10px;}
        .c4_box > h2:hover {color:#ff5f00;}
        .c4_box > p {font-size: 14px; text-align: center; letter-spacing: -2px; font-weight: bolder; color:#333; line-height: 25px; margin-top:-40px;} 
        .c4_box > img {width:60%; height:40%; }

        #careers {width:95%; height:290px; border-radius: 10px; background-color: #f8e8da; display:flex; align-items: center; }
        #careers > .careers_text {width:47%; height: 90%; display:flex; flex-direction: column; justify-content: space-around; margin-right:-40px;}
        .careers_text > h2 {font-size:66px; color:#ff5f00; margin:0; font-weight:bold; letter-spacing: 1px; font-family: 'Bebas Neue', sans-serif;}
        .careers_text > .h2 {margin-top:-25px;}
        .careers_text > p {font-size:14px; margin:0; letter-spacing: -2px; font-weight: bolder; color:#333; }
        #careers >img {width:40%; height:auto;}
        }