@charset "utf-8";

body {overflow-x:hidden;}
@media (min-width:767px) and (max-width:1240px){
        section {width:100%; height:auto; display: flex; flex-direction: column; justify-content: space-between;}
        /*오른쪽*/
        .main {width:93%; height: auto; margin-top:70px; }
        .date {font-size:14px; margin-left: 40px;}
        h1 {font-size: 25px; font-weight: bolder; margin:20px 0 0 40px;}

        .first {width:92%; height:1300px; margin:40px auto; }
        .iframe-wrapper {position:relative; height:0; padding-bottom:56.25%; border-radius: 10px; overflow:hidden;}
        .iframe-wrapper iframe {position:absolute; top:0; left:0; width:100%; height:100%;}
        .first > .text {width:100%; height: 390px; display:flex; flex-direction: column; justify-content: space-evenly; color:#333; font-size: 14px; line-height: 25px;}
        .text > p {margin-left: 0;}
        .first > .text > p:nth-of-type(4){margin-right: 0; color:#666;}
        h3 {font-size: 16px; margin-left: 0; color:#000; margin-top:30px; line-height: 25px;}

        .kind {width:92%; height: auto; }
        
        .kind > .text {width:100%; height: 470px; display:flex; flex-direction: column; justify-content: space-evenly; color:#333; font-size: 14px; line-height: 20px;}

        .made_city {width:92%; height: auto; }
        .made_city > .text {width:100%; height: 260px; padding-bottom:30px; display:flex; flex-direction: column; justify-content: center; color:#333; font-size: 14px; line-height: 20px;}
        .made_city > .text > h3 {padding-bottom:30px ;}
        .made_city > .other_size {height: 450px; justify-content: space-evenly; padding-top:20px;}
        
        .made_city > img {width:100%; height: 300px; border-radius: 10px;}

        .anyone {width:92%; height: auto;}
        
        .anyone > .text {width:100%; height:380px; padding-bottom:30px; display:flex; flex-direction: column; justify-content: space-evenly; color:#333; font-size: 14px; line-height: 20px;}
        .anyone > .other_size {height: 550px; padding-top:20px;}

        .specially {width:92%; height: 380px; margin-top:80px;}
        .pippo { width:100%; height: 300px; border-radius: 10px; overflow:hidden;  margin-left: 0; display: flex;}
        .pippo > .back {width:55%; height: 100%; margin-left: 0; background-image: url("../img/pippo.jpeg"); background-position:center;  background-size: cover; border-radius:10px;}
        .pippo > .text {width:42%; height: 100%; margin-top:0; display:flex; flex-direction: column; justify-content: space-evenly; color:#333; font-size: 14px; line-height: 20px;}
        .pippo > .text >h3 {margin:0; padding:0;}

        .launching {width:92%; height: 2000px;}
        .launching > .text {width:100%; height: 430px; display:flex; flex-direction: column; justify-content: space-evenly; color:#333; font-size: 14px; line-height: 20px;}
        
        .launching > img {width:100%; height:300px; border-radius: 10px;}
        .launching > .text > p:last-child{margin-left:0 ;}
        .launching > .other_size {height: 260px; margin-left: 0;}

        .related {width:92%; height:1200px; display: flex; flex-direction: column; justify-content: space-between; border-top:1px solid #ddd;}
        .related > h1 {font-size: 80px; margin-top:60px; margin-left: 0; font-weight: bold; font-family: 'Bebas Neue', sans-serif; letter-spacing: 2px; color:#ff5f00;}
        #content {width:100%; height:850px; display:flex; flex-wrap: wrap; justify-content: space-between;}
        #content > .box {width:45%; height:47%; border:1px solid #eee; border-radius: 10px; overflow: hidden; }
        #content > .box > img {width:100%; height:50%;}
        #content > .box:hover{transform:translateY(-20px); transition: 0.5s; box-shadow:4px 4px 4px #eee ;}
        #content > .box:nth-child(odd) {margin-left: 0;}
        .slider_text {width:95%; height: 170px; display: flex; flex-direction:column; justify-content:space-between; padding: 5px;}
        .slider_text > p {width: 96%; font-size:16px; line-height:25px; font-weight: bold; padding-top:15px;} 
        .slider_text > .button {margin:0; padding:0;}
        .slider_text > .button >button{border:none; border-radius: 20px; padding:3px 10px; font-size: 14px; background-color: #ff8200; font-family:'Secular One', sans-serif; color:#fff;}
        .slider_text > .button >button:nth-of-type(3){margin:10px 0 0 0px;}
        .slider_text > .button >button:hover {background-color: #ffd500; color:#000;}
        .button_box {width:1120px; height:50px; margin:30px auto;}
        .more_button {border:none; padding:13px 20px; margin-left:0; border-radius:25px; background-color:#000; color:#fff; font-family:'Secular One', sans-serif; font-weight:bold;}
        .more_button:hover {background-color: #ff5f00;}
        
        /*왼쪽*/
        .side {width:95%; height: 20%; display: flex; flex-direction: column; justify-content: space-around;}

        .side .first_content {width: 93%; height: 60px; margin:70px auto; display: flex; flex-wrap: wrap; align-content: space-between; }
        .side .first_content .search { width: 100%; height: 60px; display:flex; justify-content: flex-end; flex-direction: row; align-items: center; }
        .side .first_content .search .text {display: flex; justify-content: center; width: 100%; }
        .side .first_content .search .text input[type="text"] {width:97%; height: 100%; border: none; outline: none; height: 45px; border-radius: 50px; padding:0 0 0 20px; position: relative; z-index: 1; background-color: #ff8200; color:#fff;}
        .search > .text > input::placeholder { color:#fff; font-weight: bold; }
        .side .first_content .search .email_btn { background-color:#ff8200; font-size: 18px; font-weight: 400 ;padding: 10px 10px; border-radius:50%; border:none; color:#fff; font-weight: bold; word-spacing: 1.5px; margin-right: 20px; position: absolute; z-index: 5; display: flex;}
        .side .first_content .search .email_btn:hover {cursor: pointer;} 

        .second_content {width:92%; height: 750px;  display: flex; margin:60px auto; }
        .booking {width: 56%; height: 680px; background-color:  ivory; display: flex; flex-direction: column; justify-content: space-evenly; border-radius: 15px;}
        .booking >img {width:90%; height: auto; border-bottom: 1px solid #eee; padding-bottom: 40px; margin-top: 40px;}
        .booking_text {width:100%; display: flex; align-items: flex-end; color:#ff5f00; font-size: 24px;}
        .booking_text > p {font-weight: bold; text-align: center; margin-right:-20px; }

        .other_games {width:40%; height: 640px; display: flex; flex-direction:column; justify-content: space-between; margin-top:0; }
        .other_games > h3 {width:100%; font-size: 40px; margin-left: 10px; letter-spacing: 1px; font-weight: bold; font-family: 'Bebas Neue', sans-serif; margin-top: 5px;}
        .other_games > .game_box {width:100%; height: 24%;   background-position: center; background-size:cover; border-radius: 10px; display: flex; align-items: flex-end; color:#fff;}
        .ovenback {background-image:linear-gradient(rgba(0, 0, 0, 0.1), rgba(0,0,0,0.4)), url("../img/sub_cookierun.webp"); margin-left: 0;}
        .kingback {background-image:linear-gradient(rgba(0, 0, 0, 0.1), rgba(0,0,0,0.3)), url("../img/sub_kingdom.webp");}
        .puzzleback {background-image:linear-gradient(rgba(0, 0, 0, 0.1), rgba(0,0,0,0.5)), url("../img/sub_puzzle.webp"); margin-right: 0;}      
        h4 {margin:10px; font-size:20px;}
        

        .tag {width:92%; height: 200px;} 
        .tag > h3 {font-size: 40px; letter-spacing: 2px; margin-left: 10px; font-weight: bold; font-family: 'Bebas Neue', sans-serif; margin-bottom: 30px;}
        .button {margin:0; padding:0;}
        .button >button{border:none; border-radius: 20px; padding:6px 20px; font-size: 18px; letter-spacing: -1px; background-color: #ff8200; font-family:'Secular One', sans-serif; color:#fff;}

        .button >button:nth-of-type(5){margin:15px 0 0 0px;}
        .button >button:hover {cursor: pointer;}
        
        .follow_us {width:60%; height: 180px; margin-left: 45px;}
        .follow_us > h3 {font-size: 40px; margin-left: 10px; letter-spacing: 1px; font-weight: bold; font-family: 'Bebas Neue', sans-serif;  margin-bottom: 30px;}
        .follow_us > .img_box {width:100%; height: auto; display: flex; justify-content: space-between;}
        .follow_us > .img_box> img {width:18%; height:60px;}
        }